<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    
        .B {
            animation: blink 3s infinite;
        }
        .H{
            animation: blink 5s infinite;
        }
    </style>
    <style>
        .col-md-3 img {
            max-width: 100%; 
            height: auto; 
        }
    </style>
    
    <link rel="stylesheet" href="{% static "css/3.css" %}">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>🆆🅴🅻🅲🅾🅼🅴 🆃🅾 🆂🅰🅽🅰🆃🅴🅲🅷🅽🅾🅻🅾🅶🅸🅴🆂</h1>
    </center>
    <img src="{% static "images/ready.jpg" %}" class="circular-image">
    <img src="{% static "images/placements.png" %}" class="H">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="Z">
              <a class="btn btn-primary btn-lg" href="/1" role="button">Register</a>
              <a class="btn btn-primary btn-lg" href="/3" role="button">View Registered Students</a>
              <h4>Make Your Life More Better.....</h4>
          </div>
    </div>
    <img src="{% static "images/sunil.png" %}" class="A">
    <div class="E" >
        <h4>Dr.S.Sunil Kumar IIT-Bombay</h4>
    </div>
    <div class="B">
        <h2>Vice Chancellor</h2>
    </div>
    <div class="C">
        <h3>Internship Benifits</h3>
        <h4>1.Hands-on Experience</h4>
        <h4>2.Skill Development</h4>
        <h4>3.Mentorship</h4>
        <h4>4.Resume Building</h4>
        <h4>5.Projects and Responsibilities</h4>
        <h4>6.Stipend</h4>
        <h4>7.Certificates</h4>
    </div>
    <div class="D">
        <p><h4>100% placements....</h4></p>
    </div>
    <div class="containerfluid">
        <div class="card" width="100px">
            <img src="{% static "images/python.png" %}" class="card-img-top" height="200px">
        <div class="card-body">
            <p><h5>"Join our Python Internship program to gain practical experience in one of the most versatile
                 and widely used programming languages in the world. During this internship, you'll have the 
                 opportunity to work on real-world Python projects, learn about data analysis, web development,
                  and automation. Whether you're a beginner or an experienced programmer, this internship will
                 enhance your Python skills and open doors to exciting career opportunities in software developmen,
                 data science, and more."</h5>
                 <a href="/1" ><b>Click Here To apply</b></a>
            </p>
        </div>
        </div>
        <div class="card">
            <img src="{% static "images/java.png" %}" class="card-img-top" height="200px" width="200px">
        <div class="card-body">
            <p><h5>"Embark on an exciting journey with our Java Internship program. 
                Java is a powerful and widely-used programming language that underpins many critical 
                applications and systems. During this internship, you'll dive deep into Java development,
               learn about object-oriented programming, and work on hands-on projects. Whether you're a Java enthusiast
                or just getting started, this internship will sharpen your coding skills and provide valuable experience.
                Join us to explore the world of Java and prepare for a rewarding career in software development,
                 enterprise applications, and more."</h5>
                 <a href="/1" ><b>Click Here To apply</b></a>
            </p>
        </div>
        </div>
        <div class="card" width="100px">
            <img src="{% static "images/datascience.jpg" %}" class="card-img-top" height="200px">
        <div class="card-body">
            <p><h5>"Join our Data Science Internship program to immerse yourself in the exciting world 
                of data analytics. During this internship, you will delve into the intricacies of data analysis,
                 machine learning, and big data technologies. You'll learn to extract valuable insights from 
                 complex datasets, build predictive models, and visualize data effectively. Working on real-world projects
                  alongside experienced data scientists, you'll gain practical skills and the confidence to make data-driven
                decisions. By the end of this internship,you'll be well-equipped to embark on a rewarding career in
                 the field of data science."</h5>
                 <a href="/1" ><b>Click Here To apply</b></a>
            </p>
        </div>
        </div>
        <div class="card" width="100px">
            <img src="{% static "images/ai.webp" %}" class="card-img-top" height="200px">
        <div class="card-body">
            <p><h5>"Embark on an exciting journey in the realm of Artificial Intelligence (AI) through
                 our AI Internship program. This internship offers you the opportunity to explore the 
                 cutting-edge field of AI, where you'll dive into machine learning, neural networks, and natural language
                 processing. Working closely with our AI experts, you'll get hands-on experience in developing AI-powered 
                 solutions for various applications. Throughout the internship, you'll tackle challenging AI projects, learn 
                 to build intelligent algorithms, and gain insights into the future of automation and smart technologies.
                  By the end of this program,you'll be well-prepared to contribute to the ever-evolving field of
                   Artificial Intelligence."</h5>
                   <a href="/1" ><b>Click Here To apply</b></a>
            </p>
        </div>
        </div>
        <div class="card" width="100px">
            <img src="{% static "images/machinelearning.jpg" %}" class="card-img-top" height="200px">
        <div class="card-body">
            <p><h5>"Discover the fascinating world of Machine Learning (ML) with our ML Internship program.
                 This internship offers a deep dive into the field of ML, where you'll explore algorithms,
                  data analysis, and predictive modeling. Collaborating with our team of experienced ML professionals,
                   you'll have the opportunity to work on real-world projects, including recommendation systems, image recognition, 
                   and data-driven decision-making. Gain hands-on experience in implementing ML algorithms and harness the power of data
                    to make predictions and automate processes. By the end of this internship, you'll have a strong foundation in Machine Learning
                     and be ready to tackle complex data-driven challenges in various industries."</h5>
              <a href="/1" ><b>Click Here To apply</b></a>
            </p>
        </div>
        </div>
        <div class="card" width="100px">
            <img src="{% static "images/web.jpg" %}" class="card-img-top" height="200px">
        <div class="card-body">
            <p><h5>"Embark on an exciting journey into the world of Web Development with our Web Development Internship program. This internship provides a comprehensive hands-on experience in building modern, responsive websites and web applications. You'll learn the essentials of front-end and back-end development, including HTML, CSS, JavaScript, and popular web frameworks. Collaborating with our team of experienced developers, you'll work on real projects, from creating visually appealing user interfaces to implementing robust server-side functionality. Throughout the internship, you'll gain valuable insights into web technologies and best practices, preparing you for a successful career in the dynamic field of web development."</h5>
                <a href="/1" ><b>Click Here To apply</b></a>
            </p>
        </div>
        </div>
    </div>

<div class="F">
    <h4>SanaTechnologies</h4>
    <h6>Proddatur kadapa dist-516360</h6>
    <address>Contact-8919150914</address>
    <h6>Available at<br>
           Mon-Sat <br>
        Timings:9:00AM to 6:00PM
    </h6>
    <div class="corner-text">
        <h4>{{date}}</h4>
    </div>
    <image src="{% static "images/sana1.webp" %}"></image>
</div>
<div class="G">
    <img src="{% static "images/page1.jpeg" %}" class="circular-image">
</div>
<div class="I">
    <img src="{% static "images/page2.png" %}" class="circular-image">
</div>
</body>
</html>